In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
path = '../data/judicial_review_of_congress_database_1789-2018.xlsx'
df = pd.read_excel(path)
df.columns = df.columns.str.lower().str.replace(r'[ -]', '_')
print(df.shape)
df.head()

(1308, 25)

,case,citation,date,year,decade,decision,decision2,effect,stat_name,stat_cite,...,area2,lndmrk,lnddtl,att_gen,cert,reversd,crs,gvt_prty,dissent,h_ct
0,United States v. Yale Todd,"*54 U.S. 40, 52",2/17/1794,1794,1790,2,1,struck down on face,Invalid Pensions Act,1 Stat. 243,...,NaN,0.0,0.0,1,0,0.0,0.0,1,0,0
1,Penhallow v. Doane's Adm'rs,003 U.S. 054,2/24/1795,1795,1790,0,0,upheld,Court of Appeals Resolution,17 JCC 459,...,NaN,0.0,0.0,1,0,1.0,0.0,0,0,1
2,Hylton v. United States,003 U.S. 171,3/8/1796,1796,1790,0,0,upheld,Carriage Tax Act,1 Stat. 373,...,NaN,0.0,0.0,1,0,0.0,0.0,1,0,1
3,United States v. La Vengeance,003 U.S. 297,8/11/1796,1796,1790,0,0,upheld,Arms Exportation Act,1 Stat. 369,...,1.0,0.0,0.0,1,0,0.0,0.0,1,0,1
4,Mossman v. Higginson,004 U.S. 12,8/11/1800,1800,1800,1,1,struck down as applied,Judiciary Act of 1789,1 Stat. 73,...,6.0,1.0,0.0,0,0,0.0,0.0,0,0,0

In [3]:
df.columns

Index(['case', 'citation', 'date', 'year', 'decade', 'decision', 'decision2',
       'effect', 'stat_name', 'stat_cite', 'pl_#', 's_date',
       'time_to_decision', 'congress', 'area1', 'area2', 'lndmrk', 'lnddtl',
       'att_gen', 'cert', 'reversd', 'crs', 'gvt_prty', 'dissent', 'h_ct'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 25 columns):
case                1308 non-null object
citation            1308 non-null object
date                1308 non-null object
year                1308 non-null int64
decade              1308 non-null int64
decision            1308 non-null int64
decision2           1308 non-null int64
effect              1308 non-null object
stat_name           1308 non-null object
stat_cite           1308 non-null object
pl_#                1011 non-null object
s_date              1308 non-null object
time_to_decision    1308 non-null int64
congress            1308 non-null int64
area1               1308 non-null int64
area2               347 non-null float64
lndmrk              1307 non-null float64
lnddtl              1307 non-null float64
att_gen             1308 non-null int64
cert                1308 non-null int64
reversd             1307 non-null float64
crs                 1301 non-null float64
gvt_prty            1308 non-null int64
dissent             1308 non-null int64
h_ct                1308 non-null int64
dtypes: float64(5), int64(12), object(8)
memory usage: 255.5+ KB

In [5]:
df.describe()

,year,decade,decision,decision2,time_to_decision,congress,area1,area2,lndmrk,lnddtl,att_gen,cert,reversd,crs,gvt_prty,dissent,h_ct
count,1308.000000,1308.000000,1308.000000,1308.000000,1308.000000,1308.000000,1308.000000,347.000000,1307.000000,1307.000000,1308.000000,1308.000000,1307.000000,1301.000000,1308.000000,1308.000000,1308.000000
mean,1941.563456,1937.102446,0.381498,0.263761,180.935780,69.229358,3.459480,3.426513,0.488141,0.211936,0.819572,0.471713,0.445295,0.146042,0.775994,1.354740,0.470183
std,44.444353,44.566416,0.686871,0.440840,224.883063,23.240718,1.791515,1.879980,0.500051,0.408836,0.384691,0.499390,0.497189,0.353284,0.417086,1.597483,0.499301
min,1794.000000,1790.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1914.750000,1910.000000,0.000000,0.000000,47.000000,56.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,1943.000000,1940.000000,0.000000,0.000000,102.000000,73.000000,4.000000,4.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,1977.000000,1970.000000,1.000000,1.000000,233.000000,85.000000,5.000000,5.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.000000,1.000000
max,2018.000000,2010.000000,2.000000,1.000000,2332.000000,113.000000,6.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000,1.000000

In [6]:
df.describe(exclude='number')

,case,citation,date,effect,stat_name,stat_cite,pl_#,s_date
count,1308,1308,1308,1308,1308,1308,1011,1308
unique,1294,1306,1046,4,768,940,508,653
top,New York v. United States,463 U.S. 1216,1927-05-16 00:00:00,upheld,Immigration and Nationality Act,1 Stat. 73,82-414,1952-06-27 00:00:00
freq,3,2,5,963,21,15,21,22

In [13]:
def wrangle(X):
    X = X.copy()
    
    # 'decision', 'decision2', and 'effect' contain target information
    # 'citation', 'date', 'year', 'decade', and 'dissent' are not known until after a decision
    # 'pl_#' congress info is duplicated in 'congress' and the other info is random
    # 's_date' is dropped in favor of the slightly coarser 'congress' feature
    # 'lndmark', 'lnddtl', and 'crs' are not relevant
    
    columns_to_drop = ['decision', 'decision2', 'effect', 'citation', 'date', 'year', 'decade',
                       'dissent', 'pl_#', 's_date', 'lndmrk', 'lnddtl', 'crs']
    
    # Create features for cases in which the United States is the first or last party
    X['us_first_party'] = X['case'].str.startswith('United States v', na=False).astype(int)
    X['us_last_party'] = X['case'].str.endswith('v. United States', na=False).astype(int)
    columns_to_drop.append('case')
    
    # 'reversd' is not known before a decision, but we can engineer a feature describing the lower court's decision
    swap = X['reversd'] == 1
    decision = X['decision2'] == 1
    lower_court_decision = [not dec if swap else dec for dec, swap in zip(decision, swap)]
    X['lower_court_decision'] = np.array(lower_court_decision).astype(int)
    columns_to_drop.append('reversd')
    
    # For 'area2' values: keep 1 though 6, and add 7 in place of nulls
    X['area2'] = X['area2'].fillna(value=7).astype(int)
    
    # Drop unnecessary or unknowable features
    X = X.drop(columns=columns_to_drop)
    
    # return the wrangled dataframe
    return X

In [14]:
# Leave 1,000 observations for cross-validation
train, test = train_test_split(df, test_size=308, stratify=df['decision'], random_state=42)
train.shape, test.shape

((1000, 25), (308, 25))

In [15]:
# Create targets and wrangle dataframe. Note that the target is not dropped before
# wrangling so that it can be used to create 'lower_court_decision' feature
y_train = train['decision']
y_test = test['decision']

X_train = wrangle(train)
X_test = wrangle(test)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1000, 13), (308, 13), (1000,), (308,))